apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: meine-webapp
type: Opaque
stringData:
  POSTGRES_USER: myuser
  POSTGRES_PASSWORD: mypassword
  POSTGRES_DB: mydb
  DATABASE_URL: postgresql://myuser:mypassword@postgres-service:5432/mydb